@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}
:root {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

button {
  --color: #ffffff;
  --background: #1f6e8c;
  font-family: inherit;
  display: inline-block;
  min-width: 3em;
  height: 2.6em;
  line-height: 1px;
  overflow: hidden;
  cursor: pointer;
  padding: 1em;
  margin: 0.5em;
  z-index: 1;
  background-color: var(--background);
  color: var(--color);
  border: 2px solid var(--background);
  border-radius: 6px;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 500;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: top 0.3s ease, left 0.3s ease;
}

button:hover {
  transform: scale(1.15);
  color: var(--background);
}

button:hover::before {
  top: -30px;
  left: -30px;
}

button:active {
  transform: scale(0.95);
}

.form-option-accordion {
  input {
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1em;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color 0.24s, box-shadow 0.24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    text-align: center;
  }
  input:focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  }
}
